*.pyc
*~
*.egg-info
__pycache__
.ipynb_checkpoints
docs/build
htmlcov
.coverage
.cache

.spyderproject
nbdime/webapp/node_modules/
nbdime/webapp/build/

nbdime/webapp/static/bundle.js

nbdime/webapp/static/bundle.js.map

nbdime/webapp/static/1.bundle.js.map

nbdime/webapp/static/1.bundle.js
