*.pyc
*~
*.egg-info
__pycache__
.ipynb_checkpoints
docs/build
htmlcov
.coverage
.cache

.spyderproject
webapp/node_modules/
webapp/build/

webapp/static/bundle.js

webapp/static/bundle.js.map

webapp/static/1.bundle.js.map

webapp/static/1.bundle.js
