

.jp-Notebook-diff {
    width: 90%;
    margin: auto;
}


/* Alternative for showing single cell when cells are equal */
.jp-Cell-unchanged {
    margin-left: 25%;
    width: 50%;
}

.jp-Cell-diff {
    margin-bottom: 20px;
    border: solid black thin;
}

.jp-Cell-twoway .jp-Cell-base {
    float: left;
    width: 47%;
}

.jp-Cell-twoway .jp-Cell-remote {
    float: right;
    width: 47%;
}

.jp-Cell-added > div:first-child {
    float: left;
    width: 50%;
}

.jp-Cell-added > .jp-Cell-base {
    width: 100%;
    float: right;
}

.jp-Cell-added .jp-Cellrow-metadata {
    display: none;
}

.jp-Cell-unchanged .jp-Cellrow-outputs {
    display: none;
}

.jp-Cell-added .jp-Cellrow-outputs {
    display: none;
}

.jp-Cell-deleted > div:first-child {
    float: right;
    width: 50%;
}

.jp-Cell-deleted > .jp-Cell-base {
    width: 100%;
    float: left;
}

.jp-Cell-deleted .jp-Cellrow-metadata {
    display: none;
}

.jp-Cell-deleted .jp-Cellrow-outputs {
    display: none;
}

.jp-InputArea-prompt {
    display: none;
}


.jp-Notebook-diff .CodeMirror-merge-r-chunk { background-color: #ffecec; }
.jp-Notebook-diff .CodeMirror-merge-r-chunk-start { border-top: 1px solid #f8cbcb; }
.jp-Notebook-diff .CodeMirror-merge-r-chunk-end { border-bottom: 1px solid #f8cbcb; }
.jp-Notebook-diff .CodeMirror-merge-r-connect { fill: #ffffe0; stroke: #f8cbcb; stroke-width: 1px; }


.jp-Notebook-diff .CodeMirror-merge-pane-rightmost .CodeMirror-merge-r-chunk { background-color: #dbffdb; }
.jp-Notebook-diff .CodeMirror-merge-pane-rightmost .CodeMirror-merge-r-chunk-start { border-top: 1px solid #a6f3a6; }
.jp-Notebook-diff .CodeMirror-merge-pane-rightmost .CodeMirror-merge-r-chunk-end { border-bottom: 1px solid #a6f3a6; }
.jp-Notebook-diff .CodeMirror-merge-pane-rightmost .CodeMirror-merge-r-connect { fill: #ffffe0; stroke: #a6f3a6; stroke-width: 1px; }


.jp-Cell-deleted .CodeMirror {
    background-color: #ffecec;
}

.jp-Cell-added .CodeMirror {
    background-color: #dbffdb;
}

.nbdime-source-line-addition {
    background-color: #dbffdb;
}
.nbdime-source-line-deletion {
    background-color: #ffecec;
}

#nbdime-header {
    margin: auto;
    width: 90%;
    margin-bottom: 20px;
}

#nbdime-header-base {
    display: inline-block;
    width: 50%;
    background-color: #ccc
}

#nbdime-header-remote {
    display: inline-block;
    width: 49%;
    background-color: #ccc
}

#nbdime-close {
    display: block;
}
